body {
    background-image: url('./starsbackground.jpg');
}

/* Central Planet Image */
.earth-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Left side cards */

.container-1-left {
    height: 250px;
    width: 250px;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.container-2-left {
    height: 250px;
    width: 250px;
    position: static;
    padding: 15px;
}

.card-title { 
    font-size: 10px;
}

/* Right side cards */

.container-3-right {
    height: 250px;
    width: 250px;
    position: absolute;
    right: 5px;
    margin-top: 25px;
    top: 75px;
    right: 15px;
}

.container-4-right {
    height: 250px;
    width: 250px;
    position: absolute;
    right: 5px;
    margin-top: 25px;
    top: 375px;
    right: 15px;
}

input {
    border: 1px solid darkblue;
}

.btn-small {

}






