* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: url(./assets/hubble.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.nav-fixed {
    background-color: #053959;
    opacity: 0.7;
}
