* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./assets/newbackground.jpg');
}

.nav-fixed {
    background-color: #7698A6;
}

#uranus-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #CEF2F2;
    /* border: 1px solid #402222; */
}

/* #mercury-api-button {
    background-color: #736453;
    color: #f5f5f5;
    margin-top: 10px;
} */

#wiki-button {
    background-color: #557073;
    color: #f5f5f5;
    margin-top: 10px;
}

.planet-button {
    text-align: center;
}