* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #023059;
}

#earth-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #025951;
    opacity: 0.85;
}

#satellite-button {
    background-color: #020873;  
}

#forecast-button {
    background-color: #020873;
}

input {
    border: 1px solid darkblue;
}

.planet-button {
    text-align: center;
}







