* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #A4A5A6;
}

#moon-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #727273;
    opacity: 0.8;
}

#satellite-button {
    margin-top: 15px;
    background-color: #D9D9D9;
}

.planet-button {
    text-align: center;
}