* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #324FA6;
    opacity: 0.8;
}

#neptune-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #447EF2;
    opacity: 0.8;
}

#wiki-button {
    background-color: #202959;
    color: #f5f5f5;
    margin-top: 10px;
}

.planet-button {
    text-align: center;
}