* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #6F6A73;
    opacity: 0.8;
}

#saturn-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #594828;
    opacity: 0.8;
}

#wiki-button {
    background-color: #0D0C00;
    color: #f5f5f5;
    margin-top: 10px;
}

.planet-button {
    text-align: center;
}