* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #A62103;
    opacity: 0.85;
}

#sun-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #F2A20C;
    opacity: 0.85;
}

#jupiter-api-button {
    background-color: #736453;
    color: #f5f5f5;
    margin-top: 10px;
}

#wiki-button {
    background-color: #F27405;
    color: #010D00;
    margin-top: 10px;
}

.planet-button {
    text-align: center;
}

/* @media (max-height : 800px){ from 0 to 800 px max height applies
    p{
      font-size:10px
    }
  } */