* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('./images/newbackground.jpg');
}

.nav-fixed {
    background-color: #A64B17;
}

#venus-images {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.api-card {
    background-color: #D98D30;
    /* border: 1px solid #402222; */
}

/* #mercury-api-button {
    background-color: #736453;
    color: #f5f5f5;
    margin-top: 10px;
} */

#wiki-button {
    background-color: #8C8303;
    color: #010326;
    margin-top: 10px;
}

.planet-button {
    text-align: center;
}